<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-4 mt-3">
            <div *ngIf="showUserRoleCount" class="card w-100 rounded-0">
                <div  class="card-body ">
                    <table class="table">
                        <thead>
                          <tr>

                            <th scope="col">Name</th>
                            <th scope="col">Total Number</th>

                          </tr>
                        </thead>
                        <tbody *ngFor= "let userRoleCount of userRolesCount" >
                          <tr>

                            <td>{{userRoleCount.Role}}</td>
                          <td>{{userRoleCount.Total}}</td>
                          </tr>

                        </tbody>
                      </table>

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div style="display: block;">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <p class="text-center mt-1"><b>Total Tickets:</b> {{totalTicketsNumber}}</p>
        </div>
        <div class="col-12 col-lg-4">
            <canvas baseChart [data]="pieChartDataTypes" [labels]="pieChartLabelsTypes" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
            <p class="text-center mt-1">Chart: Ticket Types</p>
        </div>
        <div class="col-12 col-lg-4">
            <canvas baseChart [data]="pieChartDataPriority" [labels]="pieChartLabelsPriority" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
            <p class="text-center mt-1">Chart: Ticket Priority</p>
        </div>

        <div class="col-12 col-lg-4 text-center ">
            <canvas baseChart [data]="pieChartDataStatus" [labels]="pieChartLabelsStatus" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
            <p class="text-center mt-1">Chart: Ticket Status</p>
        </div>
    </div>

</div>