<div class="text-center mt-2">
    <mat-form-field>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search For Tickets">
    </mat-form-field>
</div>
<div class=" p-lg-4">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><i class="fa fa-ticket" aria-hidden="true"></i> Ticket </th>
            <td mat-cell *matCellDef="let element">
                {{element.Title}}
            </td>
        </ng-container>
        <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef><i class="fa fa-line-chart" aria-hidden="true"></i> Project </th>
            <td mat-cell *matCellDef="let element">
                {{element.ProjectVm.Title}}
            </td>
        </ng-container>
        <ng-container matColumnDef="manager">
            <th mat-header-cell *matHeaderCellDef><i class="fa fa-user-secret" aria-hidden="true"></i> P. Manager </th>
            <td mat-cell *matCellDef="let element">
                <div *ngFor="let user of element.ProjectVm.ProjectManagers">
                    <span> {{user.ApplicationUser.userName}},&nbsp;<br></span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef><i class="fa fa-tasks" aria-hidden="true"></i> Priority</th>
            <td mat-cell *matCellDef="let element"> {{element.TicketPriorityVm.Name}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef><i class="fa fa-signal" aria-hidden="true"></i> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.TicketStatusVm.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef><i class="fa fa-hourglass" aria-hidden="true"></i> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.TicketTypeVm.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <i class="fa fa-trash text-danger"  (click)="getTicketToDelete(element.Id)" type="button" data-toggle="modal"
                    data-target="#deleteModal" data-backdrop='static' data-keyboard='false'>

            </i>
            </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="editTicket(element.Id)" type="button" class="btn btn-transparent" data-toggle="modal"
                    data-target="#editModal" data-backdrop='static' data-keyboard='false'>
                    Edit
                </button>
            </td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="ticket-element-detail m-2"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="container mt-2 mb-2">
                        <div class="row">
                            <div class="col-3 col-lg-1 p-0 text-left">
                                <b><i class="fa fa-ticket" aria-hidden="true"></i> Ticket :</b>
                            </div>
                            <div class="col-9 col-lg-10  pl-lg-0 text-left">
                                {{element.Title}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-1 p-0 text-left">
                                <b><i class="fa fa-line-chart" aria-hidden="true"></i> Project :</b>
                            </div>
                            <div class="col-9 col-lg-10  pl-lg-0 text-left">
                                {{element.ProjectVm.Title}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-1 p-0 text-left">
                                <b><i class="fa fa-info" aria-hidden="true"></i> Details :</b>
                            </div>
                            <div class="col-9 col-lg-10  pl-lg-0 text-left">
                                {{element.Description}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-1 p-0 text-left">
                                <b><i class="fa fa-users" aria-hidden="true"></i> Developers :</b>
                            </div>
                            <div class="col-9 col-lg-10 pl-3 pl-lg-0 text-left">
                                <div *ngFor="let user of element.UsersTicketsVm">
                                    <span *ngIf="user.ApplicationUser.userRole=='Developer'">
                                        {{user.ApplicationUser.userName}},&nbsp;<br></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-1 p-0 text-left">
                                <b><i class="fa fa-calendar" aria-hidden="true"></i> Created :</b>
                            </div>
                            <div class="col-9 col-lg-10 pl-lg-0 text-left">
                                {{element.CreatedAt | date}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-1 p-0 text-left">
                                <b>Submitter :</b>
                            </div>
                            <div class="col-9 col-lg-10 pl-3 pl-lg-0 text-left">
                                {{element.SubmittedByName}}, {{element.SubmittedByEmail}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-1 p-0 text-left">
                                <b><i class="fa fa-calendar" aria-hidden="true"></i> Updated :</b>
                            </div>
                            <div class="col-9 col-lg-10 pl-lg-0 text-left">
                                {{element.UpdatedAt | date}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-1 p-0 text-left">
                                <b>Updater :</b>
                            </div>
                            <div class="col-9 col-lg-10  pl-lg-0 text-left">
                                {{element.UpdatedByName}}, {{element.UpdatedByEmail}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="ticket-element-row"
            [class.ticket-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="ticket-detail-row"></tr>
    </table>
    <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>
</div>

<!-- Modal FOR Editing Ticket -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  rounded-0">

            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <p class="text-center"><b>Update Ticket</b></p>
                <div *ngIf="loadUpdateTicket">
                    <app-update-ticket [userTicketInformation]="userInfoToSend"></app-update-ticket>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal For Deleting Ticket -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the ticket?
            </div>
            <div class="modal-footer">
                <button id="deleteModalClose" type="button" class="btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn-danger" (click)="deleteTicket()">Yes</button>
            </div>
        </div>
    </div>
</div>