input{
    border-radius: 0px;
}


select{
    border-radius: 0px;
}

textarea{
    border-radius: 0px;
}

p{
    font-size: 14px;
  }

  ng-multiselect-dropdown {
      border-radius: 0;
  }
  .removeBor{
      border-radius: 0;
  }
