<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>IssueTracker</h3>
      <strong>IT</strong>
    </div>
    <ul class="list-unstyled components">
      <li class="active">

        <a [routerLink]="['/home/dashboard']"><i class="fas fa-chart-line"></i>Dashboard</a>


        <a href="#ticketSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-ticket-alt"></i>
          Ticket
        </a>
        <ul class="collapse list-unstyled" id="ticketSubmenu">
          <li>
            <a [routerLink]="['/home/ticket/ticketdashboard']">Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/home/ticket/gettickets']">All Tickets</a>
          </li>
          <li>
            <a [routerLink]="['/home/ticket/mytickets']">My Tickets</a>
          </li>
          <li>
            <a [routerLink]="['/home/ticket/create']">Create</a>
          </li>
        </ul>
        <a href="#ProjectSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-project-diagram"></i>
          Project
        </a>
        <ul class="collapse list-unstyled" id="ProjectSubmenu">
          <li>
            <a [routerLink]="['/home/project/projectDashboard']">Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/home/project/getprojects']">All Projects</a>
          </li>
          <li>
            <a [routerLink]="['/home/project/myproject']">My Projects</a>
          </li>
          <li>
            <a [routerLink]="['/home/project/createproject']">Create Project</a>
          </li>
        </ul>
        <a href="#UserSetting" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-user-cog"></i>
          User Settings
        </a>
        <ul class="collapse list-unstyled" id="UserSetting">
          <li>
            <a [routerLink]="['/home/ticket/settings']">Settings</a>
          </li>


        </ul>
        <a><i class="fas fa-user-lock"></i><b>Admin Section</b></a>
        <a href="#TicketSetting" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-cog"></i>
          Ticket Settings
        </a>
        <ul class="collapse list-unstyled" id="TicketSetting">
          <li>
            <a [routerLink]="['/home/ticket/status']">Ticket Status</a>
          </li>
          <li>
            <a [routerLink]="['/home/ticket/priority']">Ticket Priority</a>
          </li>
          <li>
            <a [routerLink]="['/home/ticket/type']">Ticket Type</a>
          </li>

        </ul>




      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-0 pl-0">
      <div class="container-fluid pl-0">
        <button type="button" id="sidebarCollapse" class=" btn btn-blue">
          <i class="fas fa-arrows-alt-h"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link">Welcome <b>{{userName}}</b>  &nbsp;<i class="fas fa-bell">&nbsp;&nbsp;</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Logout <i class="fas fa-door-open"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>